<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bluetaxi.driver"
    android:versionCode="1"
    android:versionName="1.0">
    <!--
       <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    -->
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.onewaytripcalltaxidriver.driver.permission.MAPS_RECEIVE" /> <!-- <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.onewaytripcalltaxidriver.driver.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CALENDAR" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_CALENDAR" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:name="com.bluetaxi.driver.MyApplication"
        android:allowBackup="false"
        android:exported="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_blue_taxi_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/Mymaterialact"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,icon,theme,label"
        tools:targetApi="m">
        <activity
            android:name="com.bluetaxi.driver.dutysetting.DutySettingActivity"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.gotohome.GotoHomeActivity"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.tripinprogress.TripInprogressActivity"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.tripnotification.TripNotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.homescreen.HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.triplist.CommonTripHistory"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.driverlogs.DriverLogssActivity"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.DriverWalletLogsActivity"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.support.SupportActivity"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.SettlementLists"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".SettlementLists" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name="com.bluetaxi.driver.driverdashboard.DriverDashboardActivity"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".splash.SplashActivity" -->
        <!-- android:exported="true"> -->
        <!--  -->
        <!-- </activity> -->
        <activity
            android:name="com.bluetaxi.driver.triphistory.TripDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.documentlist.DocumentListActivity"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.fleetdetails.FleetDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.bluetaxi.driver.more.MoreActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4sL8sqBUfAxA-wV3pl61B4s-8HsdVNRM" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.bluetaxi.driver.DummyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <receiver
            android:name="com.bluetaxi.driver.CallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.bluetaxi.driver.utils.SignUpWebviewAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.DriverRegisterActStepOne"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.bluetaxi.driver.AddFleetAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.OnmywayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.SearchMapLocation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.StatementofHistory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.MessageDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.InboxActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.MapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.VideoActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.IncentiveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.IncentiveDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.PaymentGatewayWebView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.Login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.bluetaxi.driver.Login.VerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.bluetaxi.driver.OnmywayNextAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.SplashAct"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bluetaxi.driver.permission.DevicePermissionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.permission.StoreAndSecureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.WebviewAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.StreetPickUpAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.locationSearch.LocationSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.bluetaxi.driver.TripHistoryAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.TripDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.UserLoginAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.bluetaxi.driver.JobdoneAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.InviteFriendAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.OngoingAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.MeAct"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.NotificationAct"
            android:configChanges="locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.FarecalcAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.PayuncardAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.CanceltripAct"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.ShowAlertAct"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.MyStatus"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.WithdrawHistoryAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.WithDrawMenuAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.WithdrawReqAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.fragments.TripHistoryNew"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.bluetaxi.driver.tracklocation.TrackLocationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bluetaxi.driver.SelectDropLocationAct" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files_root"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name="com.bluetaxi.driver.utils.NetworkStatus"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.bluetaxi.driver.utils.GpsStatus"
            android:exported="true">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="com.bluetaxi.driver.service.BackgroundCoreConfig" />

        <receiver
            android:name="com.bluetaxi.driver.utils.BootCompletedIntentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--
  <service
              android:name=".service.WaitingTimerRun"
              android:stopWithTask="false" />
        -->
        <service
            android:name="com.bluetaxi.driver.service.LocationUpdate"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" /> <!-- <service android:name=".service.UpdateLocation" /> -->
        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.bluetaxi.driver.earningchart.EarningsAct" />

        <service
            android:name="com.bluetaxi.driver.service.ForegroundEnablingService"
            android:enabled="true"
            android:exported="false" />
        <!--
 <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        -->
        <service
            android:name="com.bluetaxi.driver.service.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.bluetaxi.driver.DeleteAccountActivity" />
        <activity
            android:name="com.bluetaxi.driver.TermsAndConditions"
            android:launchMode="singleTask" />
        <activity android:name="com.bluetaxi.driver.SettlementDetail" />
        <activity
            android:name="com.bluetaxi.driver.SettlementHistoryActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.bluetaxi.driver.MapZoomAct" />
        <activity
            android:name="com.bluetaxi.driver.WalletHistory"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>